<link rel="stylesheet" href="/main.css" /><link
  rel="stylesheet"
  href="/pre.css"
/>
<div class="main flex flex-col items-center justify-center h-100">
  <div class="container flex flex-col items-center justify-center">
    <div class="w-90">
      <a href="/"
        ><svg
          class="w-6 h-6 text-gray-800 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m15 19-7-7 7-7"
          />
        </svg>
      </a>
    </div>

    <h1>LOGIN</h1>
    <div class="error"><%= error %></div>
    <form
      class="flex flex-col items-center justify-center"
      action="/login"
      method="POST"
    >
      <input
        class="input"
        type="text"
        name="username"
        placeholder="Username"
        required
      /><input
        class="input"
        type="password"
        name="password"
        placeholder="Password"
        required
      />
      <button class="login-button" type="submit">Login</button>
    </form>
  </div>
</div>
