body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}
.container {
  background-color: #f8f0df;
  height: 50vh;
  width: 25vw;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}
.main {
  background-color: #79b4b7;
}
.index-button {
  width: 40%;
}
.button-container {
  width: 100%;
}
.index-container {
  padding: 20px 50px;
  h1 {
    font-size: 4rem;
  }
  h4 {
    font-size: 1rem;
  }
  ul {
    list-style-type: none;
    margin-top: -50px;
    li {
      margin-bottom: 20px;
    }
  }
}
a {
  color: inherit;
}
